<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <include-prelude>/inc/taglibs.jsp</include-prelude>
        </jsp-property-group>
    </jsp-config>

    <welcome-file-list>
        <welcome-file>/WEB-INF/accueil.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Championnat</servlet-name>
        <servlet-class>fr.ab.servlets.Championnat</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Championnat</servlet-name>
        <url-pattern>/championnat</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Joueurs</servlet-name>
        <servlet-class>fr.ab.servlets.Joueurs</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Joueurs</servlet-name>
        <url-pattern>/joueurs</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Connexion</servlet-name>
        <servlet-class>fr.ab.servlets.Connexion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Connexion</servlet-name>
        <url-pattern>/connexion</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>CreationCompte</servlet-name>
        <servlet-class>fr.ab.servlets.CreationCompte</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreationCompte</servlet-name>
        <url-pattern>/creationCompte</url-pattern>
    </servlet-mapping>


</web-app>
